name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-rust:
    name: Tests (Rust)
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: cargo test --package comet-algorithms
      
  build:
    name: Build WASM plugin
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install WASM target
      run: rustup target add wasm32-unknown-unknown
      
    - name: Build WASM plugin
      run: cargo build --release --target wasm32-unknown-unknown

    - name: Copy WASM plugin
      run: cp -f ./target/wasm32-unknown-unknown/release/comet.wasm ./src/comet.wasm
      
  test-typst:
    name: Tests (Typst)
    needs: build
      
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tytanic (binary)
        uses: taiki-e/install-action@v2
        with:
          tool: tytanic@0.2.2

      - name: Run test suite
        run: tt run --no-fail-fast

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5